

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:wght@100..900&display=swap');

:root {
  --red: #161516;
  --gray: #2e2e2e;
}
*{
    margin:0;
}

body{
    font-family: "Poppins",sans-serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
nav{
    display: flex;
    padding: 0 8px;
    height: 72px;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
    font-weight: 500;

}
